<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Submit Successful </title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/robocon.ico') }}">
</head>
<body>
    <h1> Scouting Data was successfully sent to the database </h1>
    <h4> Just to review and confirm: </h4>
    <ul>
        <li> Name: {{ name }} </li>
        <li> Team Number: {{ number }} </li>
        <li> Matches: {{ match }}</li>
        <h2> Auto</h2>
        <hr>
    <!--  -->
        <br>
        <li> cone_auto_top: {{cone_auto_top}}</li>
        <li> cone_auto_middle: {{cone_auto_middle}}</li>
        <li> cone_auto_hybrid: {{cone_auto_hybrid}}</li>
        <li> cube_auto_top: {{cube_auto_top}}</li>
        <li> cube_auto_middle: {{cube_auto_middle}}</li>
        <li> cube_auto_hybrid: {{cube_auto_hybrid}}</li>
        <br>
        <li> auto_charge: {{auto_charge}}</li>
    <!--  -->
        <br>
        <h2> Teleop</h2>
        <hr>
        <br>
        <li> cone_teleop_top: {{cone_teleop_top}}</li>
        <li> cone_teleop_middle: {{cone_teleop_middle}}</li>
        <li> cone_teleop_hybrid: {{cone_teleop_hybrid}}</li>
        <li> cube_teleop_top: {{cube_teleop_top}}</li>
        <li> cube_teleop_middle: {{cube_teleop_middle}}</li>
        <li> cube_teleop_hybrid: {{cube_teleop_hybrid}}</li>
        <li> teleop_charge: {{teleop_charge}}</li>
    <!---->
        <br>
        <hr>

        <li> Defense: {{defense}}</li>
<!--  -->
    </ul>
    <h4> If you found an error in here, don't panic! Make sure to keep note of it and tell one </h4>
    <h4> of the technical leads (Webmaster, Communications lead, etc.) so they can know. </h4>
    <!--This one bellow feels kinda mean we should change it to "please :D"  -->
    <h4> Now get back to scouting! </h4>

    <h1> <a href="{{ url_for("main") }}"> Click here to get back to main page </a></h1>
</body>
</html>
