<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Submit Successful </title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/robocon.ico') }}">
</head>
<body>
    <h1> Scouting Data was successfully sent to the database </h1>
    <h4> Just to review and confirm: </h4>
    <ul>
        <li> Team Number: {{ number }} </li>
        <li> Autonomous: {{ auto }} </li>
        <li> Cargo: {{ cargo }} </li>
        <li> Hatches: {{ hatches }}</li>
        <li> Habitat: {{ habitat }} </li>
        <li> Type of Robot: {{ type }}</li>
        <li> Notes: {{ notes }} </li>
    </ul>
    <h4> If you found an error in here, don't panic! Make sure to keep note of it and tell one </h4>
    <h4> of the technical leads (Webmaster, Communications lead, etc.) so they can know. </h4>
    <h4> Now get back to scouting! </h4>

    <h1> <a href="{{ url_for("main") }}"> Click here to get back to main page </a></h1>
</body>
</html>