<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rankings</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/robocon.ico') }}">
</head>
<body>
<h1> Rankings </h1>
<h4> Based on an algorithm that it tweaked every year, this page will list the rankings of which teams
 we should pick. Alternatively, you can rank teams based on any of the numerical data types </h4>
<hr>

<form action="{{ url_for('getRankingData') }}" method="post">
    <select name="config">
        <option value="default"> Algorithmic Ranking System </option>
        <option value="switch"> Rank by Switch </option>
        <option value="scale"> Rank by Scale </option>
        <option value="vault"> Rank by Vault </option>
    </select>
    <input type="submit">
</form>

<p> {{ data }} </p>

</body>
</html>