<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Team {{ number }} Data</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/robocon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/submitData.js')}}"></script>
    <script src="{{ url_for('static', filename='js/incrementNumericLabel.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">


    <style>
        .averages-container{
            display: grid; 
            grid-template-columns: 0.8fr 1fr 1fr; 
        }
        .cube {
			width: 20vw;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 2vw;
            margin-left: 8vw;
		}
		.cone {
			width: 8vw;
			margin-left: 14vw;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 2vw;
		}
        .averages-label { 
            text-align: center; 
        }
        .averages-data { 
            text-align: center; 
        }
        .averages-label-big { 
            text-align: center; 
            font-size: 3vw;
        }
        .match-container { 
            display: grid; 
            grid-template-columns: 0.8fr 1fr 1fr; 
        }
        .match-label-big { 
            text-align: center; 
            font-size: 3vw;
        }
    </style>
</head>
<ul class="nav">
    <li class="nav-item"><a href="{{ url_for('main') }}">Home</a></li>
    <li class="nav-item"><a href="{{ url_for('toRankings') }}">Rankings</a></li>
    <li class="nav-item"><a href="{{ url_for('findTeam') }}">Search</a></li>
</ul>

<body>
    <h1 align="center" style="color:#FFFFFF" class = headerheadline> Team {{ number }} Data </h1>
    
    <h2 align="center">Averages</h2>
    <h3>Auto</h3>
    <table style="width:50%">
        <tr>
            <th> </th>
            <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube" width="15%" height="15%"></th>
            <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone" width="15%" height="15%"></th>
        </tr>
        <tr>
            <th style="padding-right: 20px">Top</th>
            <th>{{ avg_auto_cube_top }}</th>
            <th>{{ avg_auto_cone_top }}</th>
        </tr>
        <tr>
            <th style="padding-right: 20px">Middle</th>
            <th>{{ avg_auto_cube_middle }}</th>
            <th>{{ avg_auto_cone_middle }}</th>
        </tr>
        <tr>
            <th style="padding-right: 20px">Hybrid</th>
            <th>{{ avg_auto_cube_hybrid }}</th>
            <th>{{ avg_auto_cone_hybrid }}</th>
        </tr>
    </table>
    <hr>
    <h3>Teleop</h3>
    <table style="width:50%">
        <tr>
            <th> </th>
            <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube" width="15%" height="15%"></th>
            <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone" width="15%" height="15%"></th>
        </tr>
        <tr>
            <th style="padding-right: 20px">Top</th>
            <th>{{ avg_teleop_cube_top }}</th>
            <th>{{ avg_teleop_cone_top }}</th>
        </tr>
        <tr>
            <th style="padding-right: 20px">Middle</th>
            <th>{{ avg_teleop_cube_middle }}</th>
            <th>{{ avg_teleop_cone_middle }}</th>
        </tr>
        <tr>
            <th style="padding-right: 20px">Hybrid</th>
            <th>{{ avg_teleop_cube_hybrid }}</th>
            <th>{{ avg_teleop_cone_hybrid }}</th>
        </tr>
    </table>
    <hr>
    <ul style="color:white">
        {%for n in range(0, matches_len)%}
        <br>
        <button type="button" class="collapsible">Match {{ matches[n]['match'] }}</button>
        <div class="content">
        <li> Disabled?: {{ matches[n]['disabled'] }}</li>
        <li> Disconnected?: {{ matches[n]['disconnected'] }}</li>
        <li> Total Sec Disconnected: {{ matches[n]['disconnected_total_seconds'] }}</li>
        <br> 
        <li> Starting Position: {{ matches[n]['starting_pos'] }}</li>
        <li> Mobility: {{ matches[n]['mobility'] }}</li>
        <li> Speed: {{ matches[n]['speed'] }}</li>
        <hr>
        <h2> Auto </h2>
        <table style="width:50%">
            <tr>
                <th> </th>
                <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube" width="15%" height="15%"></th>
                <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone" width="15%" height="15%"></th>
            </tr>
            <tr>
                <th style="padding-right: 20px">Top</th>
                <th>{{ matches[n]['cube_auto_top'] }}</th>
                <th>{{ matches[n]['cone_auto_top'] }}</th>
            </tr>
            <tr>
                <th style="padding-right: 20px">Middle</th>
                <th>{{ matches[n]['cube_auto_middle'] }}</th>
                <th>{{ matches[n]['cone_auto_middle'] }}</th>
            </tr>
            <tr>
                <th style="padding-right: 20px">Hybrid</th>
                <th>{{ matches[n]['cube_auto_hybrid'] }}</th>
                <th>{{ matches[n]['cone_auto_hybrid'] }}</th>
            </tr>
        </table>
        <hr>
        <h3> Teleop </h3>
        <table style="width:50%">
            <tr>
                <th> </th>
                <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube" width="15%" height="15%"></th>
                <th><img src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone" width="15%" height="15%"></th>
            </tr>
            <tr>
                <th style="padding-right: 20px">Top</th>
                <th>{{ matches[n]['cube_teleop_top'] }}</th>
                <th>{{ matches[n]['cone_teleop_top'] }}</th>
            </tr>
            <tr>
                <th style="padding-right: 20px">Middle</th>
                <th>{{ matches[n]['cube_teleop_middle'] }}</th>
                <th>{{ matches[n]['cone_teleop_middle'] }}</th>
            </tr>
            <tr>
                <th style="padding-right: 20px">Hybrid</th>
                <th>{{ matches[n]['cube_teleop_hybrid'] }}</th>
                <th>{{ matches[n]['cone_teleop_hybrid'] }}</th>
            </tr>
        </table>
    <div class="averages-container"> 
        <h4 class="averages-label-big">Auto</h4>
        <img class="cube" src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube">
		<img class="cone" src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone">
        <h4 class="averages-label">High</h4>
        <h3 class="averages-data">{{ avg_auto_cube_top }}</h3>
        <h3 class="averages-data">{{ avg_auto_cone_top }}</h3>
        <h4 class="averages-label">Middle</h4>
        <h3 class="averages-data">{{ avg_auto_cube_middle }}</h3>
        <h3 class="averages-data">{{ avg_auto_cone_middle }}</h3>
        <h4 class="averages-label">Hybrid</h4>
        <h3 class="averages-data">{{ avg_auto_cube_hybrid }}</h3>
        <h3 class="averages-data">{{ avg_auto_cone_hybrid }}</h3>
    </div>
    
    <div class="averages-container"> 
        <h4 class="averages-label-big">Teleop</h4>
        <img class="cube" src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube">
		<img class="cone" src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone">
        <h4 class="averages-label">High</h4>
        <h3 class="averages-data">{{ avg_teleop_cube_top }}</h3>
        <h3 class="averages-data">{{ avg_teleop_cone_top }}</h3>
        <h4 class="averages-label">Middle</h4>
        <h3 class="averages-data">{{ avg_teleop_cube_middle }}</h3>
        <h3 class="averages-data">{{ avg_teleop_cone_middle }}</h3>
        <h4 class="averages-label">Hybrid</h4>
        <h3 class="averages-data">{{ avg_teleop_cube_hybrid }}</h3>
        <h3 class="averages-data">{{ avg_teleop_cone_hybrid }}</h3>
    </div>
    <hr>
    <h2 align="center">Matches</h2>
    {%for n in range(0, matches_len)%}
    <h4 class="match-label-big">Match {{ matches[n]['match'] }}</h4>
    <div class="match-container">
        <h4 class="match-label-big">Auto</h4>
        <img class="cube" src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube">
		<img class="cone" src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone">
        <h4 class="match-label">High</h4>
        <h3 class="match-data">{{ matches[n]['cube_auto_top'] }}</h3>
        <h3 class="match-data">{{ matches[n]['cone_auto_top'] }}</h3>
        <h4 class="match-label">Middle</h4>
        <h3 class="match-data">{{ matches[n]['cube_auto_middle'] }}</h3>
        <h3 class="match-data">{{ matches[n]['cube_auto_middle'] }}</h3>
        <h4 class="match-label">Hybrid</h4>
        <h3 class="match-data">{{ matches[n]['cube_auto_hybrid'] }}</h3>
        <h3 class="match-data">{{ matches[n]['cone_auto_hybrid'] }}</h3>
    </div>
    <h4>Charging Station: {{ matches[n]['auto_charge'] }}</h4>
    <hr>
    <div class="match-container">
        <h4 class="match-label-big">Teleop</h4>
        <img class="cube" src="https://res.cloudinary.com/dk-find-out/image/upload/q_70,c_pad,w_1200,h_630,f_auto/cube_icon_kjijxo.jpg" alt="Cube">
		<img class="cone" src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg" alt="Cone">
        <h4 class="match-label">High</h4>
        <h3 class="match-data">{{ matches[n]['cube_teleop_top'] }}</h3>
        <h3 class="match-data">{{ matches[n]['cone_teleop_top'] }}</h3>
        <h4 class="match-label">Middle</h4>
        <h3 class="match-data">{{ matches[n]['cube_teleop_middle'] }}</h3>
        <h3 class="match-data">{{ matches[n]['cube_teleop_middle'] }}</h3>
        <h4 class="match-label">Hybrid</h4>
        <h3 class="match-data">{{ matches[n]['cube_teleop_hybrid'] }}</h3>
        <h3 class="match-data">{{ matches[n]['cone_teleop_hybrid'] }}</h3>
    </div>
    <h4>Charging Station: {{ matches[n]['teleop_charge'] }}</h4>
    <hr> 
        <hr>
    <hr> 
        <hr>
    <hr> 
    <h4>Disabled?: {{ matches[n]['disabled'] }} </h4>
    <h4>Disconnected?: {{ matches[n]['disconnected'] }}</h4>
    <h4>Total Sec Disconnected: {{ matches[n]['disconnected_total_seconds'] }}</h4>
    <h4>Starting Position: {{ matches[n]['starting_pos'] }}</h4>
    <h4>Mobility: {{ matches[n]['mobility'] }}</h4>
    <hr>
    {%endfor%}



    
    
   
    <script>
        var coll = document.getElementsByClassName("match-collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>
</body>
</html>